.about {
  display: grid;
  grid-template-columns: 1fr 1fr;

  height: 500px;
  margin: 2em 0px;
}

.banner-img {
  height: auto;
  max-width: 100%;
}

.banner-img-wrapper {
  border-radius: 20px;
  display: flex;
  justify-content: flex-end;
  max-height: 393px;
  max-width: 374px;
  overflow: hidden;
}

.hero-section {
  background: var(--Hero-Back);
}
.hero {
  display: flex;
  padding: 4em 0;
}

.title {
  line-height: 1.5em;
  color: var(--Color-Primary-Light) !important;
}
.hero-description {
  line-height: 1.5em;
  max-width: 500px;
  padding: 2em 0;
  color: var(--Color-Highlight-Light);
}

.hero > div:nth-child(1) {
  flex: 2;
}
.hero > div:nth-child(2) {
  flex: 1;
  transform: translate(10px, 30px);
}

.menu-title {
  line-height: 2em;
}
.product-list {
  display: grid;
  gap: 20px;
  padding: 20px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.image-container {
  position: relative;
  width: 300px;
  height: 200px;

  width: 420px;
  height: 300px;
}

.mario {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

/* Second image - positioned on top with a 3D effect */
.adrian {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotateY(20deg) translate3d(135px, -175px, 35px);
  transition: transform 0.3s ease-in-out;
  border-radius: 8px;
}

.about > .content {
  padding: 2em;
}

.about-title {
  font-family: var(--Font-Primary);
  font-size: 70px;
  font-weight: 500;
  line-height: 2em;
}
.about-subtitle {
  font-size: 32px;
  line-height: 1.5em;
}

.about-text {
  word-wrap: break-word;
  color: var(--Color-Primary);
  font-family: var(--Font-Secondary);
  font-size: 20px;
  font-weight: 500;
  line-height: 125%;
  padding-right: 13rem;
}

.menu-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 4em 0px 0px 0px;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .about {
    grid-template-columns: 1fr;
    gap: 1em;
    align-items: center;
    justify-items: center;
    margin-bottom: 10em;
  }
  .about > .content {
    padding: 0;
  }
  .about-title {
    line-height: 1em;
    text-align: center;
  }
  .about-subtitle {
    padding: 0.2em 0 1em 0;
    text-align: center;
  }
  .about-text {
    padding-right: 0;
  }
  .image-container {
    width: 500px;
    height: 300px;
  }

  .adrian {
    transform: rotateY(20deg) translate3d(6em, -14em, 1em);
  }
}

@media screen and (max-width: 500px) {
  .hero {
    flex-direction: column;
  }
  .hero > div {
    text-align: center;
  }

  .hero > div:nth-child(2) {
    transform: none;
    margin-top: 2em;
  }

  .about {
    grid-template-columns: 1fr;
    gap: 1em;
    margin-bottom: 10em;
  }
  .about > .content {
    padding: 0;
  }
  .about-title {
    line-height: 1em;
    text-align: center;
  }
  .about-subtitle {
    padding: 0.2em 0 1em 0;
    text-align: center;
  }
  .about-text {
    padding-right: 0;
  }
  .image-container {
    width: 300px;
    height: 200px;
  }

  .adrian {
    transform: rotateY(20deg) translate3d(1em, -10em, 3em);
  }

  .menu-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .menu-title {
    line-height: 1.2em;
    padding-bottom: 1em;
    text-align: center;
  }
  .product-list {
    grid-template-columns: 1fr;
    padding: 20px 0;
  }
  .banner-img {
    width: 100%;
  }
}
