.product > .product__img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0px 0px;
}

.product {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.product:hover {
  transform: scale(1.05);
}

.product > .content {
  padding: 15px;
}

.product__wrapper {
  padding-top: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product__info {
  font-family: var(--Font-Secondary);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  padding-right: 0.5rem;
}

.product__cart_img {
  width: 30px;
  height: 30px;
}

.product__snap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product__description {
  text-align: left;
}
