:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --Font-Primary: "Markazi Text", serif;
  --Font-Secondary: "Karla", sans-serif;
  --Color-Primary: #495e57;
  --Color-Primary-Light: #f4ce14;
  --Color-Secondary: #ee9972;
  --Color-Secondary-Light: #fbdabb;
  --Color-Highlight: #333;
  --Color-Highlight-Light: #edefee;
  --Color-Success: #4caf50;
  --Hero-Back: linear-gradient(0deg, #fff 13%, #495e57 0);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:hover {
  background-color: var(--Color-Secondary);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

section {
  margin: 0 auto;
}

button {
  background: var(--Color-Primary-Light);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: var(--Font-Secondary);
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  outline: none;
  padding: 0.5em 1em;
  transition: all 0.2s ease-in-out;
  height: 50px;
}
